# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# macOS contributros
.DS_Store

# VS Code directory
.vscode

# lock files
# allow only pnpm pnpm-lock.yaml, ignoring package-lock.json
package-lock.json