<script>
	const test_const = 123
	const Component_1 = Al.component['Component_1']
	var Component_2 = Al.component['Component_2'], Component_3 = Al.component['Component_3']
	// const Component_on_comment_1 = Al.component[ 'Component_on_comment_1' ]

	if ( true ) {

		const Component_4 = Al.component['Component_4']

		/*
	    
		const Component_on_comment_2 = Al.component[ 'Component_on_comment_2' ]
	    
		*/

	}

	if ( true ) {
		const Component_5 = Al.component['Component_5']
	}
		

	for (let i = 0; i < 99; i++) {

		let Component_6 = Al.component['Component_6']

		let test = async function (param) {

			const Component_7 = Al.component['Component_7']

			if ( true ) {

				const Component_8 = Al.component['Component_8']

				const inside_func = function (another_param) {

					const Component_9 = Al.component['Component_9']

				}
			}
			else {
				const Component_10 = Al.component['Component_10']
			}

			if ( true ) {
				const Component_11 = Al.component['Component_11']
			}

			else {

				const Component_12 = Al.component['Component_12']
				const Component_13 = Al.component['Component_13']

			}
		}
	}
</script>