<!-- HTML -->
<div class="container">
	Welcome to {{name}}!
</div>

<!-- CSS -->
<style>

/* Google Fonts Example */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200');

.container {
	height: 50vw;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 5rem;
	color: #b8af9e;
}

</style>

<!-- Javascript -->
<script>
	
	export default {
		
		data () {
			return {
				name: 'Altiva'
			}
		}
		
	}
	
</script>